.brick{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}